.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    height: 100%;
}

.card-body {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.card-header {
    background-color: #404040;
    color: white;
}

.container {
    margin: 15px;
}

#laptopDescription {
    margin: 0px;
}


#getPadding{
    margin-bottom: 60px;
}

#loan {
    color:black;
    border:none;
}

#work {
    background-color: lightblue;
    color: black;
    border:none;
}

#transfer {
    background-color: yellow;
    color: black;
    border:none;
}

#noBorder {
    border: none;
}